.titleLink > a {
    text-align : center;
    text-decoration-line: none ;
    font-weight:bold;
    color: black;
}

.titleLink > a:hover{
    color:grey;
}

.summary {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow:hidden;
}